<!DOCTYPE html>
<html lang="pt-br">
  <head>
    
  </head>
  <body>
    <form action="curriculo.php" method="POST">
        <h1>Curriculo</h1>
        <h2>Dados Pessoais</h2>
      <p>Nome:<input type="text" value=""></p></br>
      <p>Telefone:<input type="text" value=""></p></br>
      <p>Email:<input type="text" value=""></p></br>
      <p>Endereço:<input type="text" value=""></p></br>
      <hr>
      <h3>Escolaridade</h3>
      <input type="submit" value="cadastrar">
    </form>
  </body>
</html>
